.App {
  text-align: center;
  width: 1000px; /* Set your desired width */
  height: 300px; /* Set your desired height */
  margin: 0 auto; /* Center the container horizontally */
  
  padding: 20px; /* Adding some padding to the container */
   
  } 
   
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .left-button {
    position: fixed; 
    top: 505; /* Vertically center the button */
    right: 260px; /* Distance from the right edge */
    transform: translateY(-50%); /* Adjust for vertical centering */
    padding: 10px 20px; 
    background-color: #007bff; 
    color: #ffffff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
  }
  
  /* Apply hover effect */
  .left-button:hover {
    background-color: #0056b3; 
  }

